.container{
    display: flex;
        align-items: center;
        justify-content: center;
    color: #ffffff;
    padding: 20px 40px;
    font-size: large;
}
.main {
    max-width: 600px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 60px;
}
.container2{
    display: flex;
    flex-direction: column;
}