.container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 20px 40px;
    font-size: large;
}

.container2{
    display: flex;
    flex-direction: column;
}
